<h1>LIFESTYLE</h1>
<h3>一覧ページ</h3>
<div class="junban">
  <% if user_signed_in? %>
    <%= link_to "新規投稿へ", new_lifestyle_path %>
  <% end %>
  <%= link_to "新しい順", lifestyles_path(new:"new") %>
  <%= link_to "古い順", lifestyles_path(old:"old") %>
  <%= link_to "いいね多い順", lifestyles_path(good:"good") %>
</div>
<div class="kensaku">
  <%= form_tag({controller:"lifestyles",action:"index"}, method: :get) do %>
    <% Ltag.all.each do |t| %>
        <li><%= check_box :ltag_ids, t.name %><%= t.name %></li>
    <% end %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
  <% end %>
</div>

<div class="card1-grid">
  <% @lifestyles.each do |l| %>
    <div class="card1">
      <%= image_tag(l.image.present? ? l.image.url : "noimage.jpeg",style: "border-radius: 0%; width: 240px; height: 320px; object-fit:cover;") %>
      <p><%= l.title %></p>
      <p><%= l.comment %></p>
      <%= link_to image_tag(l.user.image.present? ? l.user.image.url : "アイコン_unknown.png", style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;"), mypage_user_path(l.user.id) %>
      <%= l.user.name %>
      <% if user_signed_in? %>
        <% if current_user.already_likead?(l) %>
          <%= link_to lifestyle_likea_path(id: l.id, lifestyle_id: l.id), data: { turbo_method: :delete } do %>
            <i class="far fa-heart"></i><%= l.likeas.count %>
          <% end %>
        <% else %>
          <%= link_to lifestyle_likeas_path(id: l.id, lifestyle_id: l.id), data: { turbo_method: :post }  do %>
            <i class="far fa-heart"></i><%= l.likeas.count %>
          <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= l.likeas.count %>
      <% end %>
      <div class="hashtag">
        <% l.ltags.each do |ltag| %>
          <%= link_to ltag.name, ltag_lifestyles_path(ltag_id: ltag.id) %>
        <% end %>
      </div>
      <div class="syousai">
        <%= link_to "詳細へ", lifestyle_path(l.id) %>
      </div>
    </div>

  <% end %>
</div>
<%= link_to "ITEM一覧へ", reviews_path %>