<h3>詳細ページ</h3>
<div class="review">
  <p><%= @lifestyle.title %></p>
  <p><%= @lifestyle.comment %></p>
</div>

<% @lifestyle.ltags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>

<p><%= @lifestyle.created_at %></p>
<% if user_signed_in? %>
  <% if current_user.already_liked?(@lifestyle) %>
    <%= link_to lifestyle_likea_path(@lifestyle), method: :delete do %>
      <i class="far fa-heart"></i><%= @lifestyle.likeas.count %>
    <% end %>
  <% else %>
    <%= link_to lifestyle_likeas_path(@lifestyle), method: :post do %>
      <i class="far fa-heart"></i><%= @lifestyle.likeas.count %>
    <% end %>
  <% end %>
<% else %>
  <i class="far fa-heart"></i><%= @lifestyle.likeas.count %>
<% end %>

<div class="comment-wrapper">

  <% if user_signed_in? %>
    <%= form_with(model: [@lifestyle, @lcomment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>

  <p>コメント一覧</p>
  <% @lcomments.each do |c| %>
    <div>
      <%= image_tag(c.user.image.present? ? c.user.image.url : "アイコン_unknown.png", style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;") %>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
    <br>
  <% end %>

</div>

<% if current_user == @lifestyle.user %>
  <p><%= link_to "編集する", edit_lifestyle_path(@lifestyle.id)%></p>
  <%= button_to "削除する", lifestyle_path(@lifestyle.id), method: :delete %>
<% end %>

<%= link_to "一覧に戻る", lifestyles_path %>